.list-user-container {
    .title {}

    .list-user-content {
        .child {
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border-bottom: 1px solid grey;

            &:first-child {
                border-top: 1px solid gray;
            }

            cursor: pointer;
        }
    }
}